
/* Structure */
body{background: #eee;}

/* Aside - Focus on top */
#focus{
	line-height: 60px;
	font-size: 30px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
#focus a{color: #000;}

/* Aside - Tabs */
#tabs div{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
#tabs span{float: right;}
#tabs .active{font-weight: bold;}
#tabs .focus{background: #fff;}

/* Main - Categories TODO */
#main{padding: 0 1% 200px;}

/* Main - Items */
#items h2{
	margin: 0;
	padding: 1% 1% 0;
}
#items .btn{
	width: 31.3%;
	margin: 1% 1%;
}

/* Main - Settle */
#settle{padding: 0 1%;}


/* Responsive */
@media (min-width: 500px) {
	aside{
		position: fixed;
		top:0;left:0;right:60%;bottom: 0;
		overflow-y: scroll;
	}
	#main{
		width:60%;
		float: right;
	}
}

@media (min-width: 700px) {
	
aside {right:70%;}
	#main{width:70%;}
	#items .btn {width: 23%;}
}

@media (min-width: 900px) {
	aside{right:80%;}
	#main{width:80%;}
	#items .btn {width: 18%;}
}

@media (min-width: 1200px) {
	#items .btn {width: 14.666%;}
}


/* Phonegap */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
}