MainWidget{
    background-color: #fff     ;
}

QLabel{
    border:0 none;
}
QTextEdit{
    font-family: "courier new";
    border:1px solid #ccc;
}
/*
QLineEdit{
    background-color: red    ;
    align: center
}


QPushButton{
    color: green                ;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #a41, stop: 0.1 #630);
    font-size: 14px             ;
    font-weight: bold           ;
}

*/
CatButton{
    font-size: 18px;
    height: 60px;
    width:100px;
    background: #ccc;
    border:0px solid #ccc;
}

ProductButton{
    font-size: 16px;
    height: 60px;
    width:100px;
    background: #fff;
    border:1px solid #ccc;
}
ProductButton:hover{
    border-width: 5px;
}
ProductButton:presed{
    border:5px solid #666;
}