<!DOCTYPE html>
<html lang="en" ng-app="Biller">
<head>
	<meta charset="utf-8">
	<title>Bitcoin Biller</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height" />
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/png" href="img/favicon.png" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/biller.css" rel="stylesheet">
</head>
<body ng-controller="CtrlMain">
	<aside>
		<div id="focus">
			<a ng-href="#settle">&euro; {{tabs[focus].sum||0}}</a>
		</div>
		<div id="tabs">
			<div ng-repeat="(i,t) in tabs" ng-click="toggle($index)" ng-class="{active:t.sum, focus:$index==focus}">
				<span ng-show="t.sum">&euro; {{t.sum}}</span>
				{{t.name}}
			</div>
		</div>
	</aside>
	<div id="main">
		<div id="items">
			<section ng-repeat="cat in items">
				<h2>{{cat.name}}</h2>
				<div ng-repeat="(item,price) in cat.items" ng-click="add(item,price)" class="btn btn-default">
					<b>{{item}}</b><br />{{price}}
				</div>
			</section>
		</div>

		<hr />

		<div id="settle">
			<h2>Afrekenen</h2>
			<h4>{{tabs[focus].name}}</h4>
			<p ng-repeat="(key,item) in tabs[focus].items" class="nav">
				<tt class="pull-left clearfix" style="width:100px">{{item.count}} &times; &euro; {{item.price}}</tt>
				{{key}}
			</p>
			<h1>&euro; {{tabs[focus].sum||0}}</h1>
			<p>
				<label class="btn btn-lg btn-default">
					<input type="checkbox"> Print a receipt
				</label>
			</p>
			<p>
				<button ng-click="settle(focus, 'Cash')" class="btn btn-lg btn-default">Cash</button>
				<button ng-click="settle(focus, 'Bancontact')" class="btn btn-lg btn-default">Bancontact</button>
				<button ng-click="settle(focus, 'BTC')" class="btn btn-lg btn-default">Bitcoin</button>
				<span ng-show="tabs[focus].status"></span>
			</p>
			<p ng-show="tabs[focus].method" class="{{tabs[focus].class}}">
				<b>{{tabs[focus].status}}</b>
				<br />
				Payment method: <b>{{tabs[focus].method}}</b>
			</p>
			<p>
				<button ng-click="settled(focus)" class="btn btn-success btn-lg">Afgerekend</button>
			</p>
		</div>
	</div>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
